{% extends 'moedas/partials/head.html' %}
<html lang="pt-BR">
<head>
    <title>BRL to BTC</title>
    {% block titulo %}
        <h1>Converter Real para BitCoin</h1>
    {% endblock titulo %}
    {% include 'moedas/partials/head.html' %}
</head>

<body>
    <div class="content-cotacao">
        <h1>Converta Real para Bitcoin</h1>
        {% include 'moedas/partials/converter.html' %}
    </div>
    <div class="opcao">
        <a href="{% url 'cotacao' %}"<div class="op-eur">Voltar</div></a>
    </div>
</body>

<footer>
    {% include 'moedas/partials/footer.html' %}
</footer>

</html>