

<body>
    
    <div class="convert">
        <form action="" method="GET" class="convert-form">
            BRL: <input type=number step=0.01  min="0.01" class="convert-input" name="q" required>
            <button type="submit">OK</button>
            
            {% if dollar %}
                <h2>{{dollar}} {{ valor_real }}</h2>
            {% endif %}
            
            {% if euro %}
                <h2>{{euro}} {{ valor_real }}</h2>
            {% endif %}
            
            {% if bitcoin %}
                <h2>{{bitcoin}} {{ valor_real }}</h2>
            {% endif %}
        </form>
    </div>
</body>
