

<body>
    <div class="content-cotacao">
            <p>Dollar: R$ <span class='atual'>{{valor.usd}}</span></p>
            
            <p>Valor minimo: R$<span class="min">{{valor.usd_low}}
            </span>
            Valor máximo: R$<span class="max">{{valor.usd_high}}
            </span></p>

            <p class='eur'>Euro: R$ <span class='atual'>{{valor.eur}}</span></p>
            
            <p>Valor minimo: R$<span class="min">{{valor.eur_low}}
            </span>
            Valor máximo: R$<span class="max">{{valor.eur_high}}
            </span></p>   
           
            <p class='btc'>BTC: R$ <span class='atual'>{{valor.btc}}</span></p>
            
            <p>Valor minimo: R$<span class="min">{{valor.btc_low}}
            </span>
            Valor máximo: R$<span class="max">{{valor.btc_high}}
            </span></p>

    </div>
</body>