

<body>
    <h1>Cotação Atual Principais Moedas</h1>
    <div class="content-cotacao">
            <p>Dollar: <span class='atual'>{{valor.usd}}</span></p>
            <span class="min">
            </span>
            <span class="max">

            </span>


            <p class='eur'>Euro: <span class='atual'>{{valor.eur}}</span></p>
            <span class="min">

            </span>
            <span class="max">
                
            </span>


            <p class='btc'>BTC: <span class='atual'>{{valor.btc}}</span></p>
            <span class="min">

            </span>
            <span class="max">
                
            </span>

    </div>
</body>